dla_uczestnikow/Krok 5 - SVR/.DS_Store
dla_uczestnikow/Krok 6 - Drzewo Decyzyjne/.DS_Store
dla_uczestnikow/Krok 7 - Losowy Las Decyzyjny/.DS_Store
dla_uczestnikow/Krok 3 - Wielowymiarowa Regresja Liniowa/.DS_Store
dla_uczestnikow/Krok 4 - Regresja Wielomianowa/.DS_Store
dla_uczestnikow/Krok 4 - SVR/.DS_Store
